* {
  user-select: none;
  box-sizing: border-box;
  touch-action: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #051350;
  display: grid;
  place-items: center;
  height: -webkit-fill-available;
}

.inner_container {
  max-width: 340px;
  width: 100%;
  background-color: rgb(0, 153, 255);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  font-family: sans-serif;
}

.inner_container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.title {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.subtitle {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}


.placeholder {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  padding: 7px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  }


.hidden {
  display: none;
}

.radio_label {
  text-align: center;
  padding: 10px;
  border: 2px solid #ffffff71;
  cursor: pointer;
  font-family: sans-serif;
  transition: all 0.1s ease-in;
}

.radio_box .fnstyle {
  font-weight: 500;
  padding: 5px;
  letter-spacing: 0.5px;
  color: #eeeeee;
}

input[type=radio]:checked + .radio_label{
  border-color: #051350;
}

.generate {
  background-color: #051350;
  display: inline-block;
  position: relative;
  bottom: 0;
  border-radius: 5px;
  border: 0;
  color: #eeeeee;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 0;
  margin-top: 20px;
  }
  
.generate:active {
  background-color: rgb(214, 214, 214);
  }
