* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  touch-action: none;

  
}

body {
  align-items: center;
  background-color: #081346;
  display:flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  
}

.box {
  background-color: #122474;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom:auto;
  margin-top: 5em;
  height: 500px;
  padding: 20px;
  width: 360px;
  overflow: hidden;
}

.title {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.subtitle {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 2px;
  padding: 6px 20px 0;
  width: 100%;
  }

.placeholder {
  margin-top: 10px;
  width: 100%;
  padding: 7px;
  font-size: 20px;
  }

.selection {
  margin-top: 20px;
  height: 185px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  position: relative;
}

.radio{
  display:inline-block;
  padding: 5px;
  text-align: center;
  justify-content:space-between;
  margin: 10px 0;
  margin-left: 0px;
  margin-right: 0px;
  font-family: sans-serif;
  color: #ffffff;
  font-size:18px;
  }

.generate {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  bottom: 0;
  border-radius: 5px;
  border: 0;
  color: #0d1a52;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 40px;
  }
  
.generate:active {
  background-color: rgb(214, 214, 214);
  }
