* {
  user-select: none;
  box-sizing: border-box;
  touch-action: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #163b3a;
  display: grid;
  place-items: center;
  height: -webkit-fill-available;
}

.inner_container {
  max-width: 340px;
  width: 100%;
  background-color: #0c6460;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  font-family: sans-serif;
}

.inner_container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 0px;
}

.title {
  color: #f6f4f2;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.subtitle {
  color: #f6f4f2;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.placeholder {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  font-size: 20px;
  border: 0;
  border-radius: 20px;
  }

.hidden {
  display: none;
}

.radio_label {
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #f6f4f241;
  cursor: pointer;
  font-family: sans-serif;
  transition: all 0s ease-in;
}

.radio_box .fnstyle {
  font-weight: 500;
  padding: 0px;
  letter-spacing: 0.5px;
  color: #f6f4f2;
}

input[type=radio]:checked + .radio_label {
  border: 0;
  background-color:#f6f4f24d;
}

.generate {
  background-color: #1fd1c8;
  display: inline-block;
  position: relative;
  bottom: 0;
  border-radius: 20px;
  border: 0;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  width: 60%;
  vertical-align: bottom;
  margin-bottom: 0px;
  margin-top: 30px;
  margin-left: 20%;
  }
  
.generate:active {
  background-color: #1fd1c8bb;
  }
